<div class="card border mx-auto mb-4">
    <div class="card-body table-responsive">
        <h1>Acerca de</h1>
        <span><strong>Memories App</strong></span> es una apliación web que está contruida con las siguientes tecnologías.
        
        
        <table class="table table-sm mt-3">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Backend</th>
                <th scope="col">Frontend</th>
                <th scope="col">Database</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td><strong>nodeJS</strong></td>
                <td><strong>vanillaJS</strong></td>
                <td><strong>mongoDB</strong></td>
                </tr>
                <tr>
                    <td>express,express-session </td>
                    <td>Bootstrap </td>
                    <td></td>
                </tr>
                <tr>
                    <td>handlebars/allow-prototype-access </td>
                    <td>HTML</td>
                </tr>
                <tr>
                    <td>bcryptjs</td>
                    <td>CSS</td>
                </tr>
                <tr>
                    <td> connect-flash</td>
                    <td>Animated.css</td>
                </tr>
                <tr>
                    <td>passport, passport-local</td>
                    <td>Font awesome</td>
                </tr>
                <tr>
                    <td>multer, uuidv4, fs-extra</td>
                </tr>
                <tr>
                    <td>mongoose, method-override</td>
                </tr>
            </tbody>
            </table>           
    </div>
</div>