<div class="jumbotron mt-4 text-center bg-light">
    <h1 class="display-4">Memories app</h1>
    <p class="lead text-left">Aplicación web que te permite almacenar tus recuerdos de aquellos momentos tan especiales que queremos siempre con nosotros.</p>
    <hr class="my-4">
    <p class="text-left">
        Esta app surgió con la idea de poder almacenar esos momentos que vivímos y no queremos olvidar. 
    </p>
    <p class="text-left">Aplicación desarrollada por <strong>José Daniel Contreras Medina</strong></p>
    <a class="btn btn-primary btn-lg" target="_blank" href="http://josedanielcm1995a.herokuapp.com/">Visita mi portafolio</a>
</div>
