<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mb-2 card-sm">
            <div class="card-header text-center">
                Registro de la cuenta
            </div>
              <img class="imgRegister rounded-circle mx-auto d-block" src="/img/register.png" alt="">
            <div class="card-body">
                <form action="/users/signup" method="POST"> 
                    <div class="form-group ">
                        <input type="text" class="form-control" name="name" placeholder="Ingresa tu nombre" value="{{name}}" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Ingresa tu email @" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Ingresa tu contraseña" value="{{password}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="cpassword" placeholder="Confirma tu contraseña" value="{{CPASSWORD}}" >
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-outline-primary">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
        <span class="ml-4 mr-5">Si ya tienes una cuenta</span><a class="ml-4" href="/users/signin"> Ingresa</a>
    </div>
</div>