<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mb-2">
            <div class="card-header text-center">
                Inicia Sesión
            </div>
           <img class="imgRegister rounded-circle mx-auto d-block" src="/img/login.png" alt="">
            <div class="card-body">
                <form action="/users/signin" method="POST"> 
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Ingresa tu email @" autofocus >
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Ingresa tu contraseña" >
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-outline-primary">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>